.snap-feed__filter-tags__container
	background-color: #EAECF2
	padding $padding
	position: relative
	z-index: 10
	.tag
		height-lineheight(20px)
		background-color: #D8DCE2
		cursor: pointer
		font-size: 12px
		&:hover
		&.active
			background-color: #fff
		&.active
			cursor: default

.snap-feed__filter-tags__container_upper
	z-index: 50

.snap-feed__filter-tags
	margin-top: $padding
	&:first-child
		margin-top: 0

.snap-feed__filter-tags__title
	margin-bottom: 10px
	font-weight 600

.snap-feed__filter-tags__content
	display: block
