getItemWidth($defaultPercent, $maxItemsPerRow)
	$width = 0
	if 100 / $maxItemsPerRow > $defaultPercent
		$width = 100% / $maxItemsPerRow
	else
		$width = $defaultPercent * 1%
	return $width

getAdditionalClassName($maxItemsPerRow)
	$classNamePart = ""
	if $maxItemsPerRow != 10
		$classNamePart = "_max-items-" + $maxItemsPerRow
	return $classNamePart

media($stateClass, $itemsCount, $minWidth, $percentWidth, $maxItemsPerRow)
	@media (min-width: ($minWidth * $itemsCount + 1px)) and (max-width: ($minWidth * ($itemsCount + 1)))
		.adaptive-grid_min-{"" + $minWidth + getAdditionalClassName($maxItemsPerRow)}
			.adaptive-grid__item
				width: getItemWidth($percentWidth, $maxItemsPerRow)



adaptive-grid-media($minWidth, $maxItemsPerRow=10)
	$additionalClass = "" + $minWidth + getAdditionalClassName($maxItemsPerRow)

	@media (min-width: $minWidth * 7 + 1px)
		.adaptive-grid_min-{$additionalClass}
			.adaptive-grid__item
				width: getItemWidth(14.28, $maxItemsPerRow)

	media("unlocked", 6, $minWidth, 16.66, $maxItemsPerRow)
	media("unlocked", 5, $minWidth, 20, $maxItemsPerRow)
	media("unlocked", 4, $minWidth, 25, $maxItemsPerRow)
	media("unlocked", 3, $minWidth, 33.33, $maxItemsPerRow)
	media("unlocked", 2, $minWidth, 50, $maxItemsPerRow)

	@media (max-width: $minWidth * 2)
		.adaptive-grid_min-{$additionalClass}
			.adaptive-grid__item
				width: getItemWidth(100, $maxItemsPerRow)
