ion-view(view-title="Messenger")
	ion-content
		.messenger__chat(ng-repeat="chat in model.chats | orderObjectBy:'_updated_date':true track by $index")
			.messenger__chat__hide-btn(
				ng-click="$event.stopPropagation();"
				confirm-click="removeChat(chat.id)"
			)
				.sl-icon.sl-icon-close
			.messenger__chat__from
				.members-list__member
					.members-list__member__avatar
						user-avatar(data="chat.from_profile")
					.members-list__member__name(ng-bind="chat.from_profile.full_name")
					.members-list__member__role(ng-bind="chat.from_profile.role")
			.messenger__chat__to(ng-if="chat.to_profile.id")
				.members-list__member
					.members-list__member__avatar
						user-avatar(data="chat.to_profile")
					.members-list__member__name(ng-bind="chat.to_profile.full_name")
					.members-list__member__role(ng-bind="chat.to_profile.role")
