.chat-box
	min-height: 20px
	background-color: #fff
	border 1px solid $border-color
	padding 5px 8px
	position: relative

.chat-box__btns
	height: 30px
	absolute right 0 bottom 0
	z-index: 20
	font-size: 0
	no-select()

.chat-box__btn
	width: 30px
	height-lineheight(30px)
	cursor: pointer
	font-size: 13px
	text-align: center
	display-inline-block()
	&:hover
		font-size: 15px


	
.chat-box__photos-thumbs
	margin: -4px -7px 6px
	border-bottom: 1px dashed $border-color
	padding-bottom: 6px
	font-size: 0

.chat-box__photos-thumb
	width 109px
	height 109px
	background-size cover
	background-position center
	margin 5px 0 0 5px
	position: relative
	overflow hidden
	display-inline-block()
	&:hover
		&:before
			content ''
			width: 100%
			height: 100%
			display: block
			background-color: rgba(#000, 0.5)
			absolute top 0 left 0
			z-index: 10
		.chat-box__photos-thumb__remove-btn
			display: block

.chat-box__photos-thumb__remove-btn
	display: none
	width: 40px
	height-lineheight(40px)
	background-color: rgba(#000, 0.3)
	absolute top 50% left 50%
	margin -20px 0 0 -20px
	z-index: 20
	cursor: pointer
	font-size: 12px
	font-weight 600
	text-align: center
	color #fff
	border-radius 50%
	&:hover
		background-color: rgba(#000, 0.6)



.chat-box__textarea
	margin-right: 40px
	&:empty:before
		font-size: 12px
		font-style italic
		color $light-text-color
