.tags
	margin: -5px 0 0 -5px
	font-size: 0

.tag
	height-lineheight(22px)
	background-color: #E2E6EF
	padding 0 7px
	margin: 5px 0 0 5px
	cursor: default
	font-weight 600
	font-size: 11px
	color #727988
	display-inline-block()
	&.active
		background-color: $color_mustard
		cursor: default
		color #000
