sl-icon-bin-1 = "\e600"
sl-icon-flash-2 = "\e601"
sl-icon-hide = "\e602"
sl-icon-link-2 = "\e603"
sl-icon-link-3 = "\e604"
sl-icon-paperclip-1 = "\e605"
sl-icon-paperclip-2 = "\e606"
sl-icon-pen-4 = "\e607"
sl-icon-pencil-3 = "\e608"
sl-icon-pencil-fill = "\e609"
sl-icon-pencil-write-2 = "\e60a"
sl-icon-print-text = "\e60b"
sl-icon-quill-ink = "\e60c"
sl-icon-quill-write = "\e60d"
sl-icon-search = "\e60e"
sl-icon-typewriter-1 = "\e60f"
sl-icon-view-1 = "\e610"
sl-icon-view-2 = "\e611"
sl-icon-check-2 = "\e612"
sl-icon-check-double-1 = "\e613"
sl-icon-cog = "\e614"
sl-icon-settings-1 = "\e615"
sl-icon-toolbox = "\e616"
sl-icon-key-hole-2 = "\e617"
sl-icon-logout-2 = "\e618"
sl-icon-alarm-silent = "\e619"
sl-icon-alarm-sound = "\e61a"
sl-icon-alarm = "\e61b"
sl-icon-calendar-1 = "\e61c"
sl-icon-reply = "\e61d"
sl-icon-account-circle-1 = "\e61e"
sl-icon-account-group-4 = "\e61f"
sl-icon-account-group-5 = "\e620"
sl-icon-group-chat = "\e621"
sl-icon-id-card-2 = "\e622"
sl-icon-id-picture-2 = "\e623"
sl-icon-person-add-2 = "\e624"
sl-icon-person-block-2 = "\e625"
sl-icon-person-edit-2 = "\e626"
sl-icon-person-subtract-2 = "\e627"
sl-icon-bubble-chat-1 = "\e628"
sl-icon-chat-double-bubble-2 = "\e62a"
sl-icon-video-camera = "\e62b"
sl-icon-book-open-4 = "\e62c"
sl-icon-filter-3 = "\e62d"
sl-icon-new-document = "\e62e"
sl-icon-newspaper = "\e62f"
sl-icon-view-content = "\e630"
sl-icon-view-headline = "\e631"
sl-icon-view-list = "\e632"
sl-icon-view-module-2 = "\e633"
sl-icon-heart = "\e634"
sl-icon-rank-army-star-2 = "\e635"
sl-icon-thumbs-down-1 = "\e636"
sl-icon-thumbs-up-1 = "\e637"
sl-icon-lock-close-1 = "\e638"
sl-icon-lock-open-1 = "\e639"
sl-icon-megaphone-1 = "\e63a"
sl-icon-infomation-circle = "\e63b"
sl-icon-report-problem-triangle = "\e63c"
sl-icon-download-3 = "\e63d"
sl-icon-transfer-3 = "\e63e"
sl-icon-synchronize-3 = "\e63f"
sl-icon-server-3 = "\e640"
sl-icon-server-check-1 = "\e641"
sl-icon-server-edit-1 = "\e642"
sl-icon-server-lock-1 = "\e643"
sl-icon-server-setting-1 = "\e644"
sl-icon-server-view-1 = "\e645"
sl-icon-server-warning-1 = "\e646"
sl-icon-add-1 = "\e6aa"
sl-icon-add-2 = "\e647"
sl-icon-remove-2 = "\e648"
sl-icon-expand-horizontal-4 = "\e649"
sl-icon-expand-vertical-4 = "\e64a"
sl-icon-cross-over = "\e64b"
sl-icon-view-add = "\e64c"
sl-icon-view-lock = "\e64d"
sl-icon-view-subtract = "\e64e"
sl-icon-camera-2 = "\e64f"
sl-icon-camera-top-view = "\e650"
sl-icon-picture-1 = "\e651"
sl-icon-video-camera-1 = "\e652"
sl-icon-microphone-3 = "\e653"
sl-icon-radio-on-air = "\e654"
sl-icon-volume-max-1 = "\e655"
sl-icon-volume-off-1 = "\e656"
sl-icon-coupon-discount = "\e657"
sl-icon-hand-bag-3 = "\e658"
sl-icon-receipt-4 = "\e659"
sl-icon-wallet-3 = "\e65a"
sl-icon-network-share = "\e65b"
sl-icon-arrow-down = "\e65c"
sl-icon-arrow-left = "\e65d"
sl-icon-arrow-return = "\e65e"
sl-icon-arrow-right = "\e65f"
sl-icon-arrow-up = "\e660"
sl-icon-button-enter = "\e661"
sl-icon-location-map = "\e662"
sl-icon-location-pin-8 = "\e663"
sl-icon-location-pin-information-2 = "\e664"
sl-icon-location-pin-unknown-2 = "\e665"
sl-icon-map-1 = "\e666"
sl-icon-map-search = "\e667"
sl-icon-building-11 = "\e668"
sl-icon-globe-2 = "\e669"
sl-icon-globe-3 = "\e66a"
sl-icon-home-1 = "\e66b"
sl-icon-car-10 = "\e66c"
sl-icon-coffee-cup-2 = "\e66d"
sl-icon-coffee-cup-3 = "\e66e"
sl-icon-copy-1 = "\e66f"
sl-icon-file-add-1 = "\e670"
sl-icon-file-add-2 = "\e671"
sl-icon-file-check-2 = "\e672"
sl-icon-file-download-2 = "\e673"
sl-icon-file-edit-1 = "\e674"
sl-icon-file-edit-2 = "\e675"
sl-icon-file-lock-2 = "\e676"
sl-icon-file-new-2 = "\e677"
sl-icon-file-question-2 = "\e678"
sl-icon-file-refresh-2 = "\e679"
sl-icon-file-subtract-2 = "\e67a"
sl-icon-file-view-2 = "\e67b"
sl-icon-file-notepad = "\e67c"
sl-icon-file-pdf = "\e67d"
sl-icon-file-table = "\e67e"
sl-icon-file-format-zip = "\e67f"
sl-icon-arrow-down-7 = "\e680"
sl-icon-arrow-down-9 = "\e681"
sl-icon-arrow-left-2 = "\e682"
sl-icon-arrow-left-7 = "\e683"
sl-icon-arrow-left-9 = "\e684"
sl-icon-arrow-left-12 = "\e685"
sl-icon-arrow-right-2 = "\e686"
sl-icon-arrow-right-7 = "\e687"
sl-icon-arrow-right-9 = "\e688"
sl-icon-arrow-right-12 = "\e689"
sl-icon-arrow-up-7 = "\e68a"
sl-icon-arrow-up-9 = "\e68b"
sl-icon-check-1 = "\e69c"
sl-icon-check-double-2 = "\e69d"
sl-icon-close = "\e69e"
sl-icon-clock-2 = "\e69f"
sl-icon-email-2 = "\e6a0"
sl-icon-bubble-chat-12 = "\e629"
sl-icon-bubble-chat-2 = "\e68c"
sl-icon-bubble-chat-text-1 = "\e6a1"
sl-icon-bubble-chat-text-2 = "\e68d"
sl-icon-computer-chip-32-bit = "\e6a2"
sl-icon-computer-chip-64-bit = "\e6a3"
sl-icon-computer-chip = "\e6a4"
sl-icon-computer-imac-2 = "\e68e"
sl-icon-computer-notebook-2 = "\e68f"
sl-icon-computer-pc-2 = "\e690"
sl-icon-floppy-disk = "\e691"
sl-icon-phone-5 = "\e692"
sl-icon-phone-call-incoming = "\e693"
sl-icon-video-camera2 = "\e699"
sl-icon-navigation-drawer-1 = "\e6a5"
sl-icon-navigation-drawer-2 = "\e6a6"
sl-icon-view-headline2 = "\e69b"
sl-icon-view-module-1 = "\e6a7"
sl-icon-view-module-22 = "\e69a"
sl-icon-megaphone-2 = "\e6a8"
sl-icon-check-list = "\e6a9"
sl-icon-armchair-1 = "\e694"
sl-icon-coffin = "\e695"
sl-icon-grenade = "\e696"
sl-icon-tank = "\e697"
sl-icon-bulletproof-armor = "\e698"
