// https://coolors.co/app/232633-dd5b54-ffd65b-40d697-006d8c

/* New Colors */

$nc-brown             = #50514F
$nc-red               = #F25F5C
$nc-yellow            = #FFE066
$nc-blue              = #247BA0
$nc-green             = #70C1B3



/* Old Colors */

$site-color           = #0080AD

$color_black          = #171718
$color_light-black    = #2B3742
$color_dark-gray-blue = #396892
$color_gray-blue      = #799DAE
$color_light-blue     = #5BB8E6
$color_clear-blue     = #489FFF
$color_blue           = #0087DA
$color_blue_darken    = #0070B5
$color_dark-blue      = #035392
$color_orange         = #FDB700
$color_mustard        = #EABC4A
$color_yellow         = #FDB700
$color_red            = #ce4c4c
$color_dark-red       = #B52D2D
$color_green          = #7FBD47
$color_ocean          = #1fcd54



/* Variables */

$page-bg-color            = #f3f5f9
$content-bg-color         = #fff
$text-bg-color            = #F1F4F7
$dark-bg-color            = #303745
$border-color             = #E3E5E8
$header-bg-color          = #232633
$title-container-bg       = #ECEFF4

$text-color               = #000
$light-text-color         = #959BA9
$dark-text-color          = #7F8294

$padding                  = 16px
$size                     = 54px
$header-height            = $size
$sidebar-width            = $size
$sidebar-locked-width     = 260px
$container-sidebar-width  = 300px
