body
	background-color: #E5E8EA
	font-family "Open Sans", arial, sans-serif
	color: $text-color


#errors
	width: 100%
	fixed top 0 left 0
	z-index: 100000000000
	background-color: #fff
	font-size: 18px
	color #000
