doctype html
html(ng-app="HPApp")
	head
		title HackPack
		base(href="/")
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")

		link(href="data/css/vendor.css" rel="stylesheet")
		link(href="data/css/app.css" rel="stylesheet")

		script(src="data/js/vendor.js")
		//script(src="cordova.js")
		script(src="data/js/app.js")

	body

		#errors

		ion-nav-view
