.profile
	background-color: #fff

.profile__main
	min-height: 100px
	padding-left 115px
	position: relative

.profile__avatar
	width: 100px
	height-lineheight(100px)
	display: block
	font-size: 40px
	absolute top 0 left 0

.profile__name
	line-height: 36px
	font-weight: 300
	font-size: 32px

.profile__role
	padding-top: 10px
	color $light-text-color
	font-weight: 300
	font-size: 26px
