.pane, .view
	background-color: #F0F3F5

.hp-tabs
	.tab-nav.tabs
		background: $header-bg-color
		padding-top: 0
	.tab-item
		opacity: 1
		color #59637B
		.sl-icon
			line-height: 32px !important
			font-size: 20px !important
	.tab-item-active
		opacity: 1
		color $color_orange

.hp-nav-bar
.hp-header-bar
	background: $header-bg-color
	.title
		color #fff

.back-button
	.ion-ios-arrow-back:before
	.back-text
		color #59637B

.buttons.header-item
	button
		color #59637B
